__pycache__/ 
*.pyc
.idea/
node_modules/
.DS_Store
bert_weight/
finetuned_weight/
finetuned_infer/
results/
glue_datasets/
nolinear/gelu/
**/thirdparty/
.eval_tmp/
.cursor/
*.json
*.csv
*.txt
*.log
*.err
*.out
*.err.log
*.out.log
*.err.log.gz
*.out.log.gz
*.err.log.gz.part
*.out.log.gz.part